<form method=post action="http://localhost:8000/login">
  <textarea name=s cols=80 lines=25>
-----BEGIN PGP SIGNATURE-----

wr0EABYKAG8FgmGzetsJENLNQQX1npKFRxQAAAAAAB4AIHNhbHRAbm90YXRpb25z
LnNlcXVvaWEtcGdwLm9yZ9UmCHhta3vZgQgj8maHypivYQDmQgUmdWElIT5W5Vqb
FiEEr9JX6DN9w6RoCjhN0s1BBfWekoUAAMJ5AP4iN3WbKmRoRIxV6F3pl1ud3c67
SR7mMNbV3mCBBf0QigD+J97DcZGJ7pQELzbqNF15LDLGvTKSKokLOqxTYp0x2wY=
=xhoQ
-----END PGP SIGNATURE-----
  </textarea>
  <noscript>
    <button>Click to login</button>
  </noscript>
</form>
<script>window.onload = () => document.forms[0].submit();</script>
